/* following is root containing page colors and possible more */
:root {
    --star-yellow: rgba(246, 204, 11);
}

/* following is global removal of margin and padding */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* form global font inherit */
input,
textarea,
button,
select {
    font: inherit;
}

html {
    color-scheme: dark light;

}

/* The following is custom font - star wars style - which is now set as a global font*/
@font-face {
    font-family: "Star Jedi Rounded";
    src: url(fonts/StarJediRounded-jW3R.ttf);
}

body {
    background-image: url("images/space_stars_2.jpg");

    font-family: "Star Jedi Rounded", 'Times New Roman', Times, serif;
    text-align: center;
}

/* following is navbar styling */
nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000;
    font-size: 1em;
    font-family: "Star Jedi Rounded";
    letter-spacing: 3px;
    background-color: var(--star-yellow);
    padding: 30px;
}

/* following removes pre-set styling for ul and a tags */
ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* following is greeting section styling */
#welcome-section header {
    color: #fff;
    font-family: "Star Jedi Rounded";
    letter-spacing: 15px;
    font-size: 2em;
    margin-bottom: 30px;
}

#welcome-section hr {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#welcome-section h1 {
    margin: 30px;
    font-size: 1.5em;
}

/* following is project image section styling */
.project {
    margin-top: 200px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    max-width: 1280px;
    grid-gap: 4rem;
}

.project-tile img {
    border: 1px solid #000;
    display: block;
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* Base styles */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

/* following is footer section styling */
#social {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding: 50px;
    background-color: var(--star-yellow);

}

/* following is @media screen sizing styling for mobile & tablets */
@media only screen and (Max-width: 480px) {
    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
    }
}